@using ImtahanProyekt.BL.ViewModels
@model TeamUpdateVM


<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Form</h6>
                <form asp-area="Admin" asp-controller="Team" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="Name" class="text-danger">Name</span>
                        <div id="emailHelp" class="form-text">
                            We'll never share your email with anyone else.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Position</label>
                        <input asp-for="Position" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Position" class="text-danger">Position</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">ImgFile</label>
                        <input asp-for="ImgFile" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="ImgFile" class="text-danger">ImgFile</span>
                    </div>


                    <button type="submit" class="btn btn-primary">Update</button>
                    <div class="text-danger" asp-validation-summary="All"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
